.addChannel-card-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */

  width: 100%;
  height: 100%;

  border: 1px solid var(--darkBorder1);
  border-radius: 8px;
}

.addChannel-card {
  width: 580px;
  height: 100%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.addChannel-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 76px 8px 28px;

  font-size: 22px;
  font-weight: 800;
  /* text-size-adjust: 100%; */
  color: var(--darkText2);

  background-color: var(--darkBg1);

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.addChannel-header-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.addChannel-close {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 20px;
  right: 20px;
}
.addChannel-close div {
  color: var(--darkText);
}

/* NAV SECOND ROW */

.addChannel-row-two {
  display: flex;
  background-color: var(--darkBg1);
  /* border-bottom: 1px solid var(--darkBorder1); */
  box-shadow: inset 0 -1px 0 0 var(--darkBorder1);
  width: 100%;
  height: 36px;
}

ul.addChannel-row-two-inner {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  width: 100%;

  height: 36px;
  margin: 0px;
  padding: 0px 20px;
}

.addChannel-row-two-inner li {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  list-style-type: none;
  font-size: 13px;
  font-weight: bolder;

  /* cursor: pointer; */
  cursor: default;
}

.addChannel-inactive {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  text-decoration: none;
  color: var(--darkText);
}

.addChannel-inactive:hover {
  color: var(--darkText2);
}

.addChannel-active {
  color: var(--darkText2);
  box-shadow: inset 0 -2px 0 0 #007a5a;
}

/* comment out in future */
li.addChannel-members {
  display: none;
  cursor: default;
}

/* NAV SECOND ROW END */
