.FullPageModal-background {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4000;
}

.FullPageModal-child-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#root.overflowHidden {
  /* overflow: hidden visible; */
  overflow: hidden;
}
