.addMessage-container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  width: 100%;

  border: 1px solid rgb(86, 88, 86);
  border-radius: 8px;
  min-height: 118px;

  background-color: var(--darkBg3);
}

.addMessage-container-inner:focus-within {
  filter: brightness(105%);
  border: 1px solid rgb(129, 131, 133);
}

.addMessage-top-container {
  display: flex;
  min-height: 38px;
  width: 100%;
  padding: 4px;
}

.addMessage-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
}

.addMessage-form-textarea-wrapper {
  display: flex;
  min-height: 38px;
  width: 100%;
  padding: 8px 12px;
  flex-grow: 1;

  /* breakup extremely long single no space words*/
  overflow-wrap: break-word;
  word-break: break-all;

  min-width: 0px;
  /* position: relative; */
}

.addMessage-form-textarea {
  display: flex;
  flex-grow: 1;

  background-color: var(--darkBg3);
  color: var(--darkText2);
  font-weight: 400;
  font-size: 15px;
  width: 100%;

  outline: none;
  border: none;
  font: inherit;

  /* flex-shrink: 1; */

  /* Don't allow user to resize */
  resize: none;
  /* hide scrollbar on growth*/
  overflow: hidden;

  overflow-wrap: break-word;
  word-break: normal;

  /* can use absolute  and bot:0 to set bottom and then grow up */
  /* position: absolute; */
  /* left: 0px;*/
  /* bottom: 0px; */
}

#message {
  font-size: 15px;
}

/* Properties are not supported */
/* .addMessage-form-textarea::placeholder { */
/* breakup extremely long single no space words*/
/* overflow-wrap: break-word;
  word-break: break-all; */
/* dynamically shrink width to fit page */
/* hide text overflow as ellipsis */
/* flex-shrink: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
/* } */

.addMessage-bottom-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  padding-right: 4px;
  min-height: 40px;
}

.addMessage-send-btn-container {
  all: unset;
  margin: 0;
  padding: 0;
}

.addMessage-send-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--darkText);

  border: 1px solid var(--darkBorder4);
  border-radius: 4px;

  padding: 2px 8px;
  height: 28px;
  cursor: pointer;
}

.addMessage-send-btn-container {
  background-color: var(--darkBg6);
  color: white;
}

.addMessage-send-btn-container:hover {
  filter: brightness(120%);
}

.addMessage-send-btn-container.disabledSend {
  pointer-events: none;
  background-color: var(--darkBg3);
  border: 1px solid var(--darkBg3);
  color: var(--darkText);
}

.addMessage-send-btn-img {
  background-image: url('../../images/icons/message-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 16px;
  min-height: 16px;
}

.addMessage-send-btn-img.disabledSend {
  background-image: url('../../images/icons/message-icon-grey.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: green;
  min-width: 16px;
  min-height: 16px;
}

/* mobile optimization, but until include icons style non-mobile as well */
@media screen and (max-width: 3200px) {
  .channel-message-input-container {
    min-height: 104px;
    /* height: 104px; */
  }

  .addMessage-container-inner {
    min-height: 80px;
  }

  .addMessage-top-container {
    display: none;
  }

  .addMessage-form-textarea-wrapper {
    padding-top: 12px;
    padding-bottom: 0px;
  }
}
