@import url('../../index.css');

.footer-container {
  display: flex;
  background-color: black;
  color: rgba(255, 255, 255, 0.6);
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-weight: 200;
  padding: 16px 0px;
  flex-grow: 1;
  max-height: 56px;
  width: 100%;
  /* position: absolute;
  bottom: 0px;
  left: 0px; */
  padding-left: 20px;
}

.footer-developer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  /* color: white; */
}

.footer-image-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer-top-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
  flex-grow: 1;
  padding: 0px 20px;
}
.footer-bot-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
}

.footer-english-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-container {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-icon-container img {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /* color: #8a8a8a; */

  filter: brightness(0) saturate(100%) invert(59%) sepia(0%) saturate(0%)
    hue-rotate(151deg) brightness(94%) contrast(81%);
}

@media screen and (max-width: 1080px) {
  .footer-container {
    flex-direction: column;
    padding: 0px;
    max-height: 111px;
  }
  .footer-top-row {
    display: flex;
    width: 100%;
    padding: 16px 20px;
  }

  .footer-bot-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 18px;
    padding: 18px 20px;
  }
}

@media screen and (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    padding-bottom: 18px;
    max-height: 750px;
  }

  .footer-top-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
  }

  .footer-top-row div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 16px 0px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  /* needed higher selector here */
  div.footer-english-div {
    justify-content: flex-start;
    align-items: center;
  }

  .footer-bot-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 18px;
    padding: 0px 20px;
  }

  .footer-smug {
    padding-top: 30px;
  }

  .footer-icon-container {
    gap: 40px;
  }
}
