.footer-container {
  display: flex;
  background-color: var(--bg1);
  color: white;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;

  padding: 16px 0px;
  flex-grow: 1;
  max-height: 56px;
  width: 100%;
  /* position: absolute;
  bottom: 0px;
  left: 0px; */
  padding-left: 20px;
}

.footer-developer-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 15px;
  padding: 16px 0px;
}

/* .footer-developer-name {} */

.footer-image-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer-github-link {
  background-image: url('../../images/github.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 25px;
  min-height: 25px;
}

.footer-linkedIn-link {
  background-image: url('../../images/linkedin.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 25px;
  min-height: 25px;
}

.footer-github-link:hover,
.footer-linkedIn-link:hover {
  filter: brightness(130%);
}

.footer-top-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
  flex-grow: 1;
  padding: 0px 20px;
}

.footer-bot-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
}

.footer-icon-container {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-icon-container img {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /* color: #8a8a8a; */

  filter: brightness(0) saturate(100%) invert(59%) sepia(0%) saturate(0%)
    hue-rotate(151deg) brightness(94%) contrast(81%);
}

/* @media screen and (max-width: 1080px) {
  .footer-container {
    flex-direction: column;
    padding: 0px;
    max-height: 111px;
  }
  .footer-top-row {
    display: flex;
    width: 100%;
    padding: 16px 20px;
  }

  .footer-bot-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 18px;
    padding: 18px 20px;
  }
} */

@media screen and (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    padding-bottom: 18px;
    max-height: 750px;
  }

  .footer-top-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
  }

  .footer-top-row div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 16px 0px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  /* needed higher selector here */
  div.footer-english-div {
    justify-content: flex-start;
    align-items: center;
  }

  .footer-bot-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 18px;
    padding: 0px 20px;
  }

  .footer-smug {
    padding-top: 30px;
  }

  .footer-icon-container {
    gap: 40px;
  }
}
