/* Main NAV */

.main-nav {
  background-color: white;
  border: 1px solid rgb(238, 238, 238);
  height: 55px;
  width: 100%;

  /* position: sticky; */
  /* top: 0px;
  left: 0px; */
  /* z-index: 2000; */
}

.main-nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 53px;
  padding: 0px 16px;
  max-width: 1260px;
  margin: auto;
}

.main-nav-left {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.main-nav-logo {
  height: 42px;
  padding-right: 19px;
}

.main-nav-search {
  height: 38px;
  width: 342px;
  border-radius: 3px;
  position: relative;
  /* comment out in future */
  display: none;
}

.main-nav-search-input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px 35px 0px 10px;
  background-color: rgb(243, 243, 243);
  font-size: 14px;
  cursor: pointer;
}

.main-nav-search-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 9.5px;
  top: 11px;
}

/* ******************** */

.main-nav-right {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.main-nav-right-list {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0px;
}

.main-nav-login,
.main-nav-signup,
.main-nav-discover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  height: 100%;
}

.main-nav-login-link,
.main-nav-signup-link,
.main-nav-discover-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-stretch: 100%;
  height: 100%;
}

.main-nav-login:hover,
.main-nav-signup:hover,
.main-nav-discover:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.main-nav-notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 53px;
  position: relative;
  cursor: default;

  /* comment out in future */
  display: none;
}

/* .main-nav-notification-container:hover {
  background-color: rgb(243, 243, 243);
} */
