.sideMenu-main-container {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  height: 100%;
  /* flex: 1; */

  width: 300px;
  background-color: var(--darkBg2);
}

@media screen and (max-width: 600px) {
  .sideMenu-main-container {
    position: absolute;
    z-index: 2000;
    top: 44px;

    border-right: 1px solid var(--darkBorder1);
    visibility: visible;

    transform: matrix(1, 0, 0, 1, 0, 0);
    /* transform: translate3d(0vw, 0, 0); */

    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: transform, visibility;
    transition-timing-function: ease-in-out;
  }

  .sideMenu-main-container.hidden {
    visibility: hidden;
    transform: matrix(1, 0, 0, 1, -300, 0);
    /* transform: translate3d(-100vw, 0, 0); */
  }
}

.sideMenu-header-container {
  display: flex;
  align-items: center;
  /* set min-height to prevent resizing on window resize */
  min-height: 50px;

  color: var(--darkText);
  font-size: 18px;
  font-weight: 900;

  padding: 0px 54px 0px 16px;
  border-top: 1px solid var(--darkBorder1);
  border-bottom: 1px solid var(--darkBorder1);
}

.sideMenu-channel-title-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  min-height: 35px;
  font-size: 15px;
  color: var(--darkText);
}

.sideMenu-channel-add-btn {
  padding: 6px;
  cursor: pointer;
}

.sideMenu-channel-add-btn:hover {
  background-color: rgb(38, 46, 43);
}

/* **************************************** */

.sideMenu-main-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex-grow: 1; */
  /* flex: 1; */
  height: 100%;
  /* flex-basis: 100%; */
  width: 300px;
}
/* want to use height 100% in all parent's of scroller
 because don't want them to be able to contain the overflow */
.sideMenu-main-container-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex: 1; */
  /* flex-grow: 1; */
  /* height: 100%; */
  height: calc(100vh - 44px - 50px - 42px);
  /* !important; */
  width: 300px;

  overflow-y: overlay;

  padding-right: 10px;
  padding-bottom: 42px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
/* https://stackoverflow.com/questions/23200639/transparent-scrollbar-with-css */
.sideMenu-main-container-inner::-webkit-scrollbar {
  /*// manage scrollbar width here  */
  width: 8px;
}
.sideMenu-main-container-inner::-webkit-scrollbar * {
  /* // manage scrollbar background color here */
  background: transparent;
}

.sideMenu-main-container-inner::-webkit-scrollbar-track {
  box-shadow: none;
}

/* .sideMenu-main-container-inner:hover */
.sideMenu-main-container-wrapper:hover
  .sideMenu-main-container-inner::-webkit-scrollbar-thumb {
  /* // manage scrollbar scroller background color here */
  background: rgb(108, 108, 111) !important;
  border-radius: 3px;
}

/* alt solution to scrollbar length issue */
/* .sideMenu-main-container-inner::-webkit-scrollbar-track {
  margin-top: -10px;
  margin-bottom: -10px;
} */

/* .sideMenu-nav-container{} */

.sideMenu-channel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* want this container to grow with the overflow */
  flex-grow: 1;
  /* height: 100%; */

  color: var(--darkText);
  width: 100%;
}

.sideMenu-channel-list-item {
  display: flex;
  align-items: center;
  min-height: 28px;
  width: 100%;
  font-size: 15px;

  padding: 0px 16px 0px 28px;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.sideMenu-channel-list-item:hover {
  background-color: var(--darkBg2Hover);
}

.sideMenu-channel-list-item.selected {
  background-color: var(--darkBg7);
  color: white;
  font-weight: 400;
  /* pointer-events: none; */
}

.sideMenu-channel-hash-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
}

.sideMenu-channel-hash-icon {
  background-image: url('../../images/icons/hash-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 15px;
  min-height: 15px;
}

.sideMenu-channel-hash-icon.selected {
  background-image: url('../../images/icons/hash-icon-white.svg');
}

.sideMenu-channel-name {
  color: inherit;
  /* hide text overflow as ellipsis */
  text-overflow: ellipsis;
  overflow: hidden;
  /* need to figure out way to do this based on media query */
  max-width: 230px;
}

.sideMenu-channel-plus-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: var(--darkBorder1);
}

.sideMenu-channel-plus-icon {
  background-image: url('../../images/icons/plus-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 13px;
  min-height: 13px;
}

.sideMenu-channel-edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  /* background-color: black; */
}

.sideMenu-channel-edit-icon div {
  padding-top: 4px;
  font-size: 15px;
  text-align: center;
  color: inherit;
}

.sideMenu-channel-edit-icon:hover {
  background-color: black;
}

.sideMenu-footer {
  display: flex;
  align-items: center;
  padding: 20px;
  color: var(--darkText);
}
