.login-main-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: var(--bg2);
  padding: 32px 32px;
}

.login-background {
  /* background-image: url('https://images.pexels.com/photos/'); */
  /* background-size: cover; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  /* height: 100%; */

  background-color: var(--bg2);
}

.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 32px; */
  width: 100%;
  height: 100%;
}

.login-card {
  width: 600px;
  max-height: 800px;
  padding: 25px 60px;
  padding-top: 10px;
  /* border: 1px solid var(--table1); */
  border-radius: 12px;
  /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); */
  background-color: white;
  position: relative;
}

@media screen and (max-width: 600px) {
  .login-card {
    max-width: 600px;
    padding: 25px 25px;
  }
}

.login-logo-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.login-logo-icon {
  height: 80px;
}

.login-slackluster {
  font-size: 35px;
  color: black;
  font-weight: 700;

  margin-left: -10px;
}

.login-header {
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(33, 33, 36);
  text-size-adjust: 100%;
}

.login-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #ffd8dc;
  border-radius: 4px;

  /* min-height: 36px; */
  /* list-style-type: none; */
  padding: 12px 15px 12px 35px;
  margin: 0px;
  margin-bottom: 16px;
}

.login-error-message {
  width: 100%;
  font-family: inherit;
  color: #212124;
  /* font-size: 1rem; */
  font-size: 16px;
  /* font-weight: 300; */
  margin: 0px;
  padding: 0px;
}

/* .login-form-control {
  border: 1px solid var(--table1);
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
} */

.login-form-group {
  display: flex;
  position: relative;
  border-radius: 4px;
  padding: 0px;
  margin-bottom: 8px;
  border: 1px solid rgb(126, 126, 126);
}

.login-form-group-color {
  border: 1px solid var(--mid2);
}

.login-input-icon-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
  /* align-items: space-between; */
}

.login-eye-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  cursor: pointer;

  position: absolute;
  top: 0px;
  right: 0px;
}

.login-label {
  display: block;
  position: absolute;
  left: 16px;
  top: 20px;
  /* line-height: 1.3; */
  font-size: 16px;
  color: rgb(137, 137, 137);
  cursor: text;

  /* controls whether the user can select text */
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.login-label-small {
  line-height: 1.3;
  font-size: 12px;
  left: 16px;
  top: 8px;
}

.login-label-color {
  color: var(--mid2);
}

.login-input {
  /* top | right | bottom | left */
  padding: 27px 16px 7px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 100%;
  display: flex;
}

.login-input:focus {
  outline: none;
  box-shadow: rgba(29, 155, 209, 0.957) 0px 0px 0px 0.955485px,
    rgba(29, 155, 209, 0.29) 0px 0px 0px 4.77743px;
}

.login-input-note {
  font-size: 12px;
  color: rgb(137, 137, 137);
  padding: 0px 16px;
  padding-bottom: 8px;
}

.login-checkbox-container span {
  font-size: 14px;
  /* color: rgb(137, 137, 137); */
}

.login-checkbox-label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.login-checkbox-label input {
  height: 16px;
  width: 16px;
}

.login-sign-in-btn-container,
.demo-sign-in-btn-container {
  display: flex;
  justify-content: center;
}

.login-sign-in-btn {
  margin-top: 32px;
  padding: 10px 15px;
  border: 1px solid var(--bg1);
  border-radius: 4px;
  width: 100%;

  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: var(--bg1);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.login-sign-in-btn:hover {
  filter: brightness(120%);
}

.demo-sign-in-btn {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid var(--bg1);
  border-radius: 4px;
  width: 100%;

  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: var(--bg1);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.demo-sign-in-btn:hover {
  filter: brightness(120%);
}

/* *************************** */

.login-card-bottom {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.login-forgot-password {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgb(0, 109, 172);
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-bottom: 16px;
}

.login-link-forgot {
  text-decoration: none;
  color: #006dac;
  cursor: text;
}

.login-not-member {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 4px;
  padding-top: 16px;

  color: rgb(137, 137, 137);
  font-size: 14px;
}

@media screen and (max-width: 450px) {
  .login-not-member {
    flex-direction: column;
    align-items: center;
  }
}

.login-link-signup {
  text-decoration: none;
  color: #006dac;
}

.login-link-signup:hover {
  text-decoration: underline;
}

.login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: none;
  position: absolute;
  bottom: -30px;
  left: 0px;
  width: 100%;
}

.login-footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 16px; */
}

.login-footer-left span {
  /* icon color, used span bc needed extra specificity */
  color: white;
}

.login-footer-right {
  display: flex;
  gap: 5px;
}
