/* smacss and bem ideology */

/* https://fonts.google.com/icons?icon.query=eye */
/* Allows you to customize icons specific to this page view */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  color: gray;
}

/* https://www.pexels.com/search/birds/ */
/* https://www.pexels.com/photo/greyscale-photography-of-birds-3401967/ */
/* https://images.pexels.com/photos/8793250/pexels-photo-8793250.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 */
.login-background {
  /* background-image: url('https://images.pexels.com/photos/3375493/pexels-photo-3375493.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=1333&w=2000'); */
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.login-card {
  width: 350px;
  max-height: 475px;
  /* min-height: calc(100vh - 3rem); */
  padding: 25px;
  /* border: 1px solid var(--table1); */
  border-radius: 4px;
  /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); */
  background-color: white;
  position: relative;
}

.login-logo-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  padding: 0px;
}

.login-logo-icon {
  height: 80px;
}

.login-header {
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  color: rgb(33, 33, 36);
  text-size-adjust: 100%;
}

.login-error-container {
  background-color: #ffd8dc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 8px;
  margin-bottom: 16px;
}

.login-error-message {
  color: #212124;
  /* font-size: 1rem; */
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
}

/* .login-form-control {
  border: 1px solid var(--table1);
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
} */

.login-form-group {
  display: flex;
  position: relative;
  border-radius: 4px;
  padding: 0px;
  margin-bottom: 8px;
  border: 1px solid rgb(126, 126, 126);
}

.login-form-group-color {
  border: 1px solid var(--mid2);
}

.login-input-icon-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
  /* align-items: space-between; */
}

.login-eye-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}

.login-label {
  display: block;
  position: absolute;
  left: 16px;
  top: 20px;
  /* line-height: 1.3; */
  font-size: 16px;
  color: rgb(137, 137, 137);
  cursor: text;

  /* controls whether the user can select text */
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.login-label-small {
  line-height: 1.3;
  font-size: 12px;
  left: 16px;
  top: 8px;
}

.login-label-color {
  color: var(--mid2);
}

.login-input {
  /* top | right | bottom | left */
  padding: 27px 16px 7px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 100%;
  display: flex;
}

.login-input:focus {
  outline: none;
}

.login-checkbox-container span {
  font-size: 14px;
}

.login-checkbox-label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.login-checkbox-label input {
  height: 16px;
  width: 16px;
}

.login-sign-in-btn-container,
.demo-sign-in-btn-container {
  display: flex;
  justify-content: center;
}

.login-sign-in-btn {
  margin-top: 32px;
  padding: 10px 15px;
  border: 1px solid var(--mid1);
  border-radius: 4px;
  width: 100%;

  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: var(--mid1);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.login-sign-in-btn:hover {
  background-color: rgb(81, 136, 224);
}

.demo-sign-in-btn {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid var(--mid1);
  border-radius: 4px;
  width: 100%;

  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: var(--mid1);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.demo-sign-in-btn:hover {
  background-color: rgb(81, 136, 224);
}

.login-card-bottom {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.login-forgot-password {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgb(0, 109, 172);
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-bottom: 16px;
}

.login-link-forgot {
  text-decoration: none;
  color: #006dac;
  cursor: text;
}

.login-not-member {
  width: 100%;
  display: flex;
  gap: 4px;
  justify-content: center;
  font-size: 14px;
  padding-top: 16px;
}

.login-link-signup {
  text-decoration: none;
  color: #006dac;
}

.login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: none;
  position: absolute;
  bottom: -30px;
  left: 0px;
  width: 100%;
}

.login-footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 16px; */
}

.login-footer-left span {
  /* icon color, used span bc needed extra specificity */
  color: white;
}

.login-footer-right {
  display: flex;
  gap: 5px;
}
