.channelDisplay-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* flex: 1; */
  /* width: 100%; */
  width: calc(100% - 300px);
  /* in media query when create side-panel modal, need to change back to 100% */

  background-color: var(--darkBg1);
  position: relative;
}

@media screen and (max-width: 600px) {
  .channelDisplay-main-container {
    width: 100%;
  }
}

.channelDisplay-name-bar {
  display: flex;
  align-items: center;
  gap: 8px;

  min-height: 50px;
  width: 100%;
  width: calc(100% - 1px);

  padding: 0px 54px 0px 20px;
  border-top: 1px solid rgb(42, 43, 47);
  border-bottom: 1px solid rgb(42, 43, 47);
}

.channelDisplay-sideMenu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* .channelDisplay-sideMenu-toggle span {} */

.channelDisplay-sideMenu-toggle:hover {
  background-color: var(--darkBg2Hover);
  filter: brightness(130%);
}

@media screen and (min-width: 600px) {
  .channelDisplay-sideMenu-toggle {
    display: none;
  }
}

.channelDisplay-name-bar-btn {
  display: flex;
  align-items: center;
  max-height: 30px;
  gap: 2px;

  color: var(--darkText2);
  font-size: 18px;
  font-weight: 900;

  padding: 8px 0px;
  cursor: pointer;

  /* to allow for dynamic ellipsis parent needs a width */
  /* flex: flex-grow | flex-shrink | flex-basis */
  /* flex: 1 1 100%; */
  flex-shrink: 1;
  min-width: 0px;
}

.channelDisplay-name-bar-btn:hover {
  background-color: var(--darkBg2Hover);
}

.channelDisplay-name-bar-btn-text {
  /* display: flex; */

  /* breakup extremely long single no space words*/
  /* overflow-wrap: break-word; */
  /* word-break: break-all; */

  /* dynamically shrink width to fit page */
  flex-shrink: 1;

  /* hide text overflow as ellipsis */
  text-overflow: ellipsis;
  overflow: hidden;

  /* white-space: nowrap; */
}

.channelDisplay-hash-icon {
  color: white;
}

.channelDisplay-name-expand-icon {
  min-height: 23px;
  min-width: 23px;
  font-size: 18px;
  font-weight: 900;
  color: white;
  padding-top: 2px;
}

/* ************************************************************ */
/* ************************************************************ */

.channelDisplay-message-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex: 1; */

  /* do this calc in javascript in react useEffect on message input change */
  /* set initial height before adding inputs */
  height: calc(100% - 45px - 50px - 142px);
  /* height: 100%; */
  width: 100%;
}
/* want to use height 100% in all parent's of scroller
 because don't want them to be able to contain the overflow */
.channelDisplay-message-container-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex: 1; */
  /* flex-grow: 1; */

  height: 100%;
  /* height: calc(100% - 45px - 50px - 142px); */

  width: 100%;

  overflow-y: scroll;

  padding-right: 0px;
  padding-bottom: 8px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
/* https://stackoverflow.com/questions/23200639/transparent-scrollbar-with-css */
.channelDisplay-message-container-inner::-webkit-scrollbar {
  /*// manage scrollbar width here  */
  width: 8px;
}
.channelDisplay-message-container-inner::-webkit-scrollbar * {
  /* // manage scrollbar background color here */
  background: transparent;
}

.channelDisplay-message-container-inner::-webkit-scrollbar-track {
  box-shadow: none;
}

/* .channelDisplay-message-container-inner:hover */
.channelDisplay-message-container-wrapper:hover
  .channelDisplay-message-container-inner::-webkit-scrollbar-thumb {
  /* // manage scrollbar scroller background color here */
  background: rgb(108, 108, 111) !important;
  border-radius: 3px;
}

/* alt solution to scrollbar length issue */
/* .channelDisplay-message-container-inner::-webkit-scrollbar-track {
  margin-top: -10px;
  margin-bottom: -10px;
} */

/* .channelDisplay-nav-container{} */

.channelDisplay-message-intro {
  display: flex;
  align-items: flex-start;
  min-height: 28px;
  width: 100%;
  font-size: 15px;
  line-height: 22px;

  padding: 8px 20px;
  gap: 8px;
  /* cursor: pointer; */
  position: relative;
  margin-top: 88px;
  margin-bottom: 60px;

  /* breakup extremely long single no space words*/
  /* overflow-wrap: break-word; */

  /* this only breaks up a word that can't fit on it's own line */
  overflow-wrap: anywhere;
  /* this one breaks all words that don't fit, not just the super long ones */
  /* word-break: break-all; */
}

.channelDisplay-message-img.intro {
  background-image: url('../../images/slack-lightbulb.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 36px;
  min-height: 36px;
  border-radius: 4px;
  /* margin-top: 4px; */
}

.channelDisplay-message-intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--darkText2);
}

.channelDisplay-message-intro-text-top {
  display: flex;
  align-items: center;
  color: var(--darkText2);
}

.channelDisplay-message-intro-text-top-name {
  color: white;
}

.channelDisplay-message-intro-text-bottom {
  display: flex;
  color: var(--darkText);
}
.channelDisplay-message-intro-text-bottom-link {
  color: var(--darTextLink);
  cursor: pointer;
}
.channelDisplay-message-intro-text-bottom-link:hover {
  text-decoration: underline;
}

.channelDisplay-intro-hash {
  float: left;
  background-image: url('../../images/icons/hash-icon-blue.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 15px;
  min-height: 15px;
}

.channelDisplay-message-day-divider {
  padding: 20px 0px;
  position: relative;
}
.channelDisplay-message-day-divider-border {
  border: 1px solid var(--darkBorder1);
  /* border-bottom: 0px solid var(--darkText2); */
}

.channelDisplay-message-day-divider-btn {
  padding: 0px 16px 0px 16px;
  border: 1px solid var(--darkBorder1);
  border-radius: 28px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--darkBg1);

  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
}

/* *********************************** */

.channelDisplay-message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* want this container to grow with the overflow */
  flex-grow: 1;
  /* height: 100%; */

  color: var(--darkText);
  width: 100%;
}

.channelDisplay-message-list-item {
  display: flex;
  align-items: flex-start;
  min-height: 28px;
  width: 100%;

  padding: 8px 20px;
  gap: 8px;
  /* cursor: pointer; */
  position: relative;
}

.channelDisplay-message-list-item-single {
  display: flex;
  align-items: flex-start;
  min-height: 28px;
  width: 100%;

  padding: 8px 20px;
  /* cursor: pointer; */
  position: relative;
}

.channelDisplay-message-list-item:hover,
.channelDisplay-message-list-item-single:hover {
  background-color: var(--darkBg3);
}

.channelDisplay-message-list-item.edit,
.channelDisplay-message-list-item-single.edit {
  background-color: rgb(69, 63, 45);
}

/* .channelDisplay-message-left {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
} */

.channelDisplay-message-img.default {
  background-image: url('../../images/slack-default-profile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 36px;
  min-height: 36px;
  border-radius: 4px;
  /* margin-top: 4px; */
}

.channelDisplay-message-right {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* top | right | bottom | left */
  margin: -12px -8px -16px -16px;
  padding: 8px 8px 8px 16px;

  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 64px; */
}

.channelDisplay-message-right-single {
  display: flex;
  width: 100%;

  /* top | right | bottom | left */
  margin: -12px -8px -16px -16px;
  padding: 8px 8px 8px 24px;

  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 64px; */
}

.channelDisplay-message-top {
  display: flex;
  gap: 5px;
}
.channelDisplay-message-displayName {
  color: var(--darkText2);
  font-size: 15px;
  font-weight: 900;
  line-height: 22px;
}

.channelDisplay-message-timestamp {
  display: flex;
  align-items: flex-end;
  color: var(--darkText4);
  font-size: 12px;
  font-weight: 400;
  position: relative;
}

.channelDisplay-message-timestamp:hover {
  text-decoration: underline;
}

.channelDisplay-message-timestamp-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  position: absolute;
  top: -38px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 4000;

  padding: 10px;
  border-radius: 8px;
  background-color: black;
  border: 1px solid var(--darkBorder1);
  visibility: hidden;

  color: white;
  font-family: inherit;
  font-weight: 500;
  white-space: nowrap;
}

.channelDisplay-message-timestamp:hover
  .channelDisplay-message-timestamp-popup {
  visibility: visible;
}

.channelDisplay-message-single-timestamp {
  visibility: hidden;
  font-size: 12px;
  font-weight: 400;
  color: var(--darkText4);
  min-width: 18px;
  margin-left: 14px;
  text-align: right;
  position: relative;
}

.channelDisplay-message-list-item-single:hover
  .channelDisplay-message-single-timestamp {
  visibility: visible;
}

.channelDisplay-message-single-timestamp-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  position: absolute;
  top: -38px;
  left: -20px;
  z-index: 4000;

  padding: 10px;
  border-radius: 8px;
  background-color: black;
  border: 1px solid var(--darkBorder1);
  visibility: hidden;

  color: white;
  font-family: inherit;
  font-weight: 500;
  white-space: nowrap;
}

.channelDisplay-message-single-timestamp:hover
  .channelDisplay-message-single-timestamp-popup {
  visibility: visible;
}
/* prettier-ignore */
/* .channelDisplay-message-single-timestamp:hover .channelDisplay-main-container,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-container-wrapper,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-container-inner,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-container,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-list-item,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-list-item-single,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-right,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-top,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-timestamp,
.channelDisplay-message-single-timestamp:hover .channelDisplay-message-single-timestamp {
  z-index: 5000;
} */

pre.channelDisplay-message-content {
  color: var(--darkText2);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  width: 100%;

  /* get rid of <pre> settings */
  margin: 0px;
  padding: 0px;
  font-family: inherit;
  /* renders \n line breaks */
  /* white-space: pre-line; */
  /* renders \n line breaks and extra spaces */
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: normal;

  /* hide text overflow as ellipsis */
  /* text-overflow: ellipsis;  */
  /* overflow: hidden; */
  /* need to figure out way to do this based on media query */
  /* width: 100%; */
}

/* ******************************************************** */

.channelDisplay-message-toolbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;

  border: 1px solid var(--darkBorder1);
  height: 36px;
  width: 76px;
  /* width: 132px; */
  border-radius: 4px;
  position: absolute;
  right: 20px;
  top: -18px;
  /* transform: translateY(-50%); */
  background-color: var(--darkBg1);

  font-size: 13px;
  font-weight: 700;
  line-height: 28px;

  visibility: hidden;
}

.channelDisplay-message-toolbox-edit,
.channelDisplay-message-toolbox-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  cursor: pointer;
}

.channelDisplay-message-toolbox-edit:hover,
.channelDisplay-message-toolbox-delete:hover {
  background-color: var(--darkBg3);
}

.channelDisplay-message-toolbox-edit div {
  padding-top: 2px;
  padding-left: 2px;
  font-size: 20px;
}

.channelDisplay-message-toolbox-delete div {
  color: var(--darkTextDelete);
  padding-top: 2px;
  padding-left: 2px;
  font-size: 20px;
}

.channelDisplay-message-list-item:hover .channelDisplay-message-toolbox,
.channelDisplay-message-list-item:hover .channelDisplay-message-toolbox,
.channelDisplay-message-list-item-single:hover .channelDisplay-message-toolbox,
.channelDisplay-message-list-item-single:hover .channelDisplay-message-toolbox {
  visibility: visible;
}

/* ******************************************************** */

.channel-message-input-container {
  display: flex;
  /* flex-grow: 1; */
  width: 100%;

  padding: 0px 20px;
  padding-bottom: 24px;
  min-height: 142px;
}
