.channelDisplay-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* flex: 1; */
  width: 100%;

  background-color: var(--darkBg1);
}

.channelDisplay-name-bar {
  display: flex;
  align-items: center;
  min-height: 50px;
  width: 100%;

  /* gap: 5px; */

  padding: 0px 54px 0px 8px;
  border-top: 1px solid rgb(42, 43, 47);
  border-bottom: 1px solid rgb(42, 43, 47);
}

.channelDisplay-name-bar-btn {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 2px;

  color: white;
  font-size: 18px;
  font-weight: 900;

  padding: 8px 8px;
  cursor: pointer;
}

.channelDisplay-name-bar-btn:hover {
  background-color: var(--darkBg2Hover);
}

.channelDisplay-hash-icon {
  color: white;
}

.channelDisplay-name-expand-icon {
  height: 23px;
  width: 23px;
  font-size: 18px;
  font-weight: 900;
  color: white;
  padding-top: 2px;
}

/* ************************************************************ */
/* ************************************************************ */

.channelDisplay-message-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex-grow: 1; */
  /* flex: 1; */
  height: calc(100% - 45px - 50px - 142px);
  /* height: 100%; */
  width: 100%;
}
/* want to use height 100% in all parent's of scroller
 because don't want them to be able to contain the overflow */
.channelDisplay-message-container-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex: 1; */
  /* flex-grow: 1; */
  height: 100%;
  /* height: calc(100% - 45px - 50px - 142px); */

  width: 100%;

  overflow-y: scroll;

  padding-right: 0px;
  padding-bottom: 8px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
/* https://stackoverflow.com/questions/23200639/transparent-scrollbar-with-css */
.channelDisplay-message-container-inner::-webkit-scrollbar {
  /*// manage scrollbar width here  */
  width: 8px;
}
.channelDisplay-message-container-inner::-webkit-scrollbar * {
  /* // manage scrollbar background color here */
  background: transparent;
}

.channelDisplay-message-container-inner::-webkit-scrollbar-track {
  box-shadow: none;
}

/* .channelDisplay-message-container-inner:hover */
.channelDisplay-message-container-wrapper:hover
  .channelDisplay-message-container-inner::-webkit-scrollbar-thumb {
  /* // manage scrollbar scroller background color here */
  background: rgb(108, 108, 111) !important;
  border-radius: 3px;
}

/* alt solution to scrollbar length issue */
/* .channelDisplay-message-container-inner::-webkit-scrollbar-track {
  margin-top: -10px;
  margin-bottom: -10px;
} */

/* .channelDisplay-nav-container{} */

.channelDisplay-message-intro {
  display: flex;
  align-items: flex-start;
  min-height: 28px;
  width: 100%;
  font-size: 15px;
  line-height: 22px;

  padding: 8px 20px;
  gap: 8px;
  /* cursor: pointer; */
  position: relative;
  margin-top: 88px;
  margin-bottom: 60px;
}

.channelDisplay-message-img.intro {
  background-image: url('../../images/slack-lightbulb.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 36px;
  min-height: 36px;
  border-radius: 4px;
  /* margin-top: 4px; */
}

.channelDisplay-message-intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--darkText2);
}

.channelDisplay-message-intro-text-top {
  display: flex;
  align-items: center;
  color: var(--darkText2);
}

.channelDisplay-message-intro-text-bottom {
  color: var(--darkText);
}
.channelDisplay-message-intro-text-bottom-link {
  color: var(--darTextLink);
  cursor: pointer;
}
.channelDisplay-message-intro-text-bottom-link:hover {
  text-decoration: underline;
}

.channelDisplay-intro-hash {
  float: left;
  background-image: url('../../images/icons/hash-icon-blue.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 15px;
  min-height: 15px;
}

.channelDisplay-message-day-divider {
  padding: 20px 0px;
  position: relative;
}
.channelDisplay-message-day-divider-border {
  border: 1px solid var(--darkBorder1);
  /* border-bottom: 0px solid var(--darkText2); */
}

.channelDisplay-message-day-divider-btn {
  padding: 0px 16px 0px 16px;
  border: 1px solid var(--darkBorder1);
  border-radius: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--darkBg1);

  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
}

/* *********************************** */

.channelDisplay-message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* want this container to grow with the overflow */
  flex-grow: 1;
  /* height: 100%; */

  color: var(--darkText);
  width: 100%;
}

.channelDisplay-message-list-item {
  display: flex;
  align-items: flex-start;
  min-height: 28px;
  width: 100%;
  font-size: 15px;
  line-height: 22px;

  padding: 8px 20px;
  gap: 8px;
  /* cursor: pointer; */
  position: relative;
}

.channelDisplay-message-list-item-single {
  display: flex;
  align-items: flex-start;
  min-height: 28px;
  width: 100%;
  font-size: 15px;
  /* line-height: 22px; */

  padding: 8px 20px;
  /* cursor: pointer; */
  position: relative;
}

.channelDisplay-message-list-item:hover,
.channelDisplay-message-list-item-single:hover {
  background-color: var(--darkBg3);
}

/* .channelDisplay-message-left {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
} */

.channelDisplay-message-img.default {
  background-image: url('../../images/slack-default-profile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 36px;
  min-height: 36px;
  border-radius: 4px;
  /* margin-top: 4px; */
}

.channelDisplay-message-right {
  display: flex;
  flex-direction: column;
  /* padding: 8px; */
  position: absolute;
  /* top: 4px; */
  top: 50%;
  transform: translateY(-50%);
  left: 64px;
}

.channelDisplay-message-right-single {
  display: flex;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 64px;
}

.channelDisplay-message-top {
  display: flex;
  align-items: center;
  gap: 5px;
}
.channelDisplay-message-displayName {
  color: var(--darkText2);
  font-size: 14px;
  font-weight: 900;
}

.channelDisplay-message-timestamp {
  color: var(--darkText4);
  font-size: 14px;
  font-weight: 400;
}

.channelDisplay-message-timestamp:hover {
  text-decoration: underline;
}

.channelDisplay-message-single-timestamp {
  visibility: hidden;
  font-size: 12px;
  font-weight: 400;
  color: var(--darkText4);
  min-width: 36px;
  text-align: right;
}

.channelDisplay-message-list-item-single:hover
  .channelDisplay-message-single-timestamp {
  visibility: visible;
}

.channelDisplay-message-content {
  color: var(--darkText2);
  font-size: 14px;
  font-weight: 400;

  /* hide text overflow as ellipsis */
  /* text-overflow: ellipsis;
  overflow: hidden; */
  /* need to figure out way to do this based on media query */
  /* width: 100%; */
}

/* ******************************************************** */

.channelDisplay-message-toolbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;

  border: 1px solid var(--darkBorder1);
  height: 36px;
  width: 76px;
  /* width: 132px; */
  border-radius: 4px;
  position: absolute;
  right: 20px;
  top: -18px;
  /* transform: translateY(-50%); */
  background-color: var(--darkBg1);

  font-size: 13px;
  font-weight: 700;
  line-height: 28px;

  visibility: hidden;
}

.channelDisplay-message-toolbox-edit,
.channelDisplay-message-toolbox-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  cursor: pointer;
}

.channelDisplay-message-toolbox-edit:hover,
.channelDisplay-message-toolbox-delete:hover {
  background-color: var(--darkBg3);
}

.channelDisplay-message-toolbox-edit div {
  padding-top: 2px;
  padding-left: 2px;
  font-size: 20px;
}

.channelDisplay-message-toolbox-delete div {
  color: var(--darkTextDelete);
  padding-top: 2px;
  padding-left: 2px;
  font-size: 20px;
}

.channelDisplay-message-list-item:hover .channelDisplay-message-toolbox,
.channelDisplay-message-list-item:hover .channelDisplay-message-toolbox,
.channelDisplay-message-list-item-single:hover .channelDisplay-message-toolbox,
.channelDisplay-message-list-item-single:hover .channelDisplay-message-toolbox {
  visibility: visible;
}

/* ******************************************************** */

.channel-message-input-container {
  padding: 0px 20px;
  padding-bottom: 24px;
  min-height: 142px;
}
